.profile-page {
  /* width: 200px; */
  /* background-color: gold; */
  height: 100vh;
}
.profile-page .user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px 0;
}

.profile-page h2 {
  color: black;
  margin: 5px;
  font-size: 2rem;
  line-height: 1.2;
}
.profile-page h2#email {
  color: #777;
  cursor: pointer;
  font-size: 1.5rem;
}
.profile-page h2#email:hover {
  color: var(--main-alt-color);
  cursor: pointer;
}
.profile-page .parent {
  height: 30%;
  background-color: #cdcdcd2e;
  width: 200px;
  text-align: center;
}
.profile-page #editprofile {
  display: block;
  width: 100%;
  background-color: var(--main-color);
  /* color: #ffeb3b; */
  color: white;
  padding: 4px 5px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 20px;
  /* margin-left: auto;
  margin-right: auto; */
  cursor: pointer;
}
.profile-page #editprofile:hover {
  background-color: var(--main-alt-color);
  letter-spacing: 1px;
  /* color: #ffeb3beb; */
}
